body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav 
{
    overflow: hidden;
    background-color: #333;
    height: 45px;
}

.topnav a 
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover 
{
    background-color: #4CAF50;
    color: black;
}

.topnav a.active 
{
    background-color: #A9A9A9;
    color: green;
}

.sidebar 
{
    margin: 0;
    padding: 20px;
    background-color: #A9A9A9;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    width:100%;
    max-width:400px;
    max-height: calc(100vh - 55px);
}

#hostList 
{
    overflow-y: auto;
    cursor: pointer;
}


#hostList li 
{
    list-style-type: none;
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    list-style-type: disc;  
}

#hostList li li
{
    list-style-type: square;  
}

#hostList li:hover:not(:has(li:hover)) 
{
    color: whitesmoke;
}

#hostList > li:hover > *:not(:hover) 
{
    color: black;
}

.liselected
{
    color: green;
}

.liselected::marker
{
    color: green;
}

.unselectechilds
{
    color:black;
}

.plotCPU 
{
    margin-left: 450px;
    width:100%;
    max-width:700px;
    float: left;
}

.plotRAM 
{
    margin-left: 1150px;
    width:100%;
    max-width:700px;
}

.plotRDISK 
{
    margin-left: 450px;
    width:100%;
    max-width:700px;
    float: left;
}

.plotWDISK 
{
    margin-left: 1150px;
    width:100%;
    max-width:700px;
}

.sectionhead
{
    color: green;
}

.selproc
{
    text-align: center;
    background-color: #A9A9A9;;
}