<!DOCTYPE html>
<html>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
	<script src="js/script.js"></script>
	<body>
		<div id="myPlot" style="width:100%;max-width:700px"></div>

		<div id="Hosts" style="width:100%;max-width:700px">
			<ul id="hostList">
			</ul>
		</div>
	</body>
</html>

